@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #1e293b; /* Slate 800 */

  --color-primary: #0f172a; /* Slate 900 (Navy) */
  --color-primary-light: #f1f5f9; /* Slate 100 (Light Gray) */

  --color-secondary: #0ea5e9; /* Sky 500 */
  --color-secondary-dim: rgba(14, 165, 233, 0.1);

  --color-accent: #f97316; /* Orange 500 */
  --color-muted: #64748b; /* Slate 500 */

  --font-sans: var(--font-body);
  --font-heading: var(--font-body);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-body);
  font-weight: bold;
  color: var(--color-primary);
}
